* {
  /* border: 5px solid yellowgreen; */
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #414141;
  /* margin-left: 100px; */
  border-top: 5px solid #1098ad;
}

/* Conatainer */
.container {
  width: 1000px;
  margin: 0 auto;
  /* position: relative; */
}



/* Main header */

.main-header {
  /* margin: 60px 40px; */
  /* background-color:red;
  width:100%;
  height: 100px; */
  /* position: relative; */
  padding:20px 40px;
  margin-bottom: 60px;
}
.link {
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: center;
}

/* Aside */

aside {
  background-color: rgb(241, 241, 241);
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  width: 60%;
  padding: 30px;
}

/* UL OL */
ul,
ol {
  margin-left: 40px;
  margin-bottom: 20px;
}

/* Smaller elements */

h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 10px;
  text-align: left;
}
h2 {
  font-size: 40px;
  margin-bottom: 20px;
  /* padding: 20px 20px;
  border: 3px solid black; */
}
h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  list-style: square;
}

aside li {
  font-size: 20px;
  list-style: none;
}

article header p {
  font-size: 16px;
  /* font-weight: bold; */
}

/* Related post author name */

.related-post {
  font-weight: bold;
}
/* .related {
  list-style: none;
} */

/* .link {
  font-size: 20px;
  color: coral;
}

a {
  color: inherit;
} */

.copyright {
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  /* font-weight: bold; */
}

/* .testing-paragraph {
  text-align: center;
  border: 2px dotted mediumseagreen;
}

ol {
  border-top: 3px solid black;
} */

/* li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
li:nth-child(odd) {
  color: rgb(172, 164, 180);
}
header p:last-child {
  color: red;
} */

/* Lets desing our anchor elements that is hyperlink element */

a:link {
  font-size: 16px;
  text-decoration: none;
  color: #1098ad;
}
a:visited {
  color: #1098ad;
}
a:hover {
  /* text-transform: uppercase; */
  /* font-size: 18px; */
  color: rgb(156, 14, 14);
  /* text-transform: uppercase; */
  text-decoration: underline #02191d;
}
/* a:active {
  background-color: #408692;
  color:yellow;

} */
a::first-letter{
  text-transform: uppercase;
}

/* H2 element of artice header */

/* .title:hover {
  color: #02191d;
  text-decoration: underline;
} */

/* Conflict among Selectors */

/* talking about priority order
     1 !important
     2 id selector
     3 class selector and pesudo Selector
     4 element selector
     5 body selector
     6 universal selector
*/

/* Id selector */

#testing-paragraph {
  color: red;
}

/* class selector */

.testing-paragraph {
  color: blue;
}

/* class selector of same element with different naem */

*/ .t-p {
  color: greenyellow;
}

/* Element selector */

/* header p:last-child {
  color: orange;
}

article p:nth-child(7),
ol {
  color: yellowgreen;
} */

.pImg {
  /* margin: 20px 30px; */
  width: 50%;
  height: auto;
  
}
nav a:link {
  /* background-color: black; */
  margin: 10px 30px;
  font-size:20px;
  display: inline-block;
 
 
}
nav a:link:last-child {
  margin-right: 0;
}
aside{
  position:relative;
}
button {
  background-color: red;
  font-size: 20px;
  padding: 10px;
  margin-right: 50px;
  position: absolute;
  bottom: 10px;
  right:-350px;
  cursor:pointer;
 
  
}
/* Pesudo elements */

h1::first-letter{
  font-style:normal;
  margin-right:5px;
}
/* h2::first-letter{
  font-size:70px;
  color:#ffff00;
 
} */
/* h2 +p::first-line{

  color:red;
}

ol+p::first-line{
  color:yellow;
  font-size:20px;
} */

/* lets add top up on h2 */
h2{
  background-color:black;
  
  /* display:inline; */
  position: relative;

}
article header h2::after{
  content: "TOP";
  color: #444;
  background-color:yellow;
  padding:5px 10px;
  font-size:20px;
  position: absolute;
  top:-10px;
  right:-10px;

}


/* Floats */
.img-author{
  float:left;
}
.author{
  margin-left:80px;
  padding-top:10px;
  float:left;
}
/* aligning navbar */
nav{
  float:right;
}